<div class="sidebar" data-image="/assets/img/sidebar-5.jpg" th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml"
     xmlns:sec="http://www.w3.org/1999/xhtml">
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->
    <div class="sidebar-wrapper">
        <div class="logo">
            <a th:href="@{/}" class="simple-text">
                SIMON
            </a>
        </div>
        <ul class="nav" sec:authorize="hasAuthority('EMPLOYEE')">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/data/baseline/{userId}(userId = ${currentUser.id})}">
                    <i class="nc-icon nc-icon nc-paper-2"></i>
                    <p>Agregar Línea base</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/assign/request}">
                    <i class="nc-icon nc-icon nc-paper-2"></i>
                    <p>Solicitud de Asignación</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/employee/week/report}">
                    <i class="nc-icon nc-notes"></i>
                    <p>Informe Semanal</p>
                </a>
            </li>
        </ul>

        <ul class="nav" sec:authorize="hasAuthority('MANAGER')">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/data/source/list}">
                    <i class="nc-icon nc-notes"></i>
                    <p>Listado de Asignaciones</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/process/execution/assign/creation}">
                    <i class="nc-icon nc-notes"></i>
                    <p>Crear Asignación Gerencial</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/process/execution/list}">
                    <i class="nc-icon nc-notes"></i>
                    <p>Asignaciones Activas</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{#}">
                    <i class="nc-icon nc-alien-33"></i>
                    <p>Cierre de Asignaciones</p>
                </a>
            </li>
        </ul>

        <ul class="nav" sec:authorize="hasAuthority('ASSISTANT')">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/act/management}">
                    <i class="nc-icon nc-icon nc-paper-2"></i>
                    <p>Actas Gerenciales</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/act/source/list}">
                    <i class="nc-icon nc-icon nc-paper-2"></i>
                    <p>Actas SIMON </p>
                </a>
            </li>
        </ul>

        <ul class="nav" sec:authorize="hasAuthority('ADMIN')">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/registration}">
                    <i class="nc-icon nc-notes"></i>
                    <p>Crear Usuario</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{#}">
                    <i class="nc-icon nc-notes"></i>
                    <p>Listado de usuarios</p>
                </a>
            </li>

            <li class="nav-item active-pro">
                <a class="nav-link active" th:href="@{#}">
                    <i class="nc-icon nc-alien-33"></i>
                    <p>Vaciar Cache</p>
                </a>
            </li>
        </ul>
    </div>
</div>