<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Act Management Add</title>
</head>
<body>
<div class="content" layout:fragment="content">
    <div class="container-fluid">
        <div class="section">
            <div class="card">
                <div class="card-header ">
                    <h4 class="card-title">Acta Gerencial</h4>
                    <p class="card-category">Agregar nuevo registro</p>
                </div>
                <div class="card-body">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <form action="#" th:action="@{/act/add}" th:object="${actRegister}" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <fieldset>
                                    <caption class="col-form-label">Asistencia</caption>
                                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <label for="meetingDate" class="col-form-label">Fecha</label> <input type="date" th:field="*{meeting.meetingDate}" class="form-control" id="meetingDate" placeholder="Date"> <span th:if="${#fields.hasErrors('meeting.meetingDate')}" th:errors="*{meeting.meetingDate}" class="text-danger"></span>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <label for="startMeeting" class="col-form-label">Hora Inicio</label> <input type="text" th:field="*{meeting.startMeeting}" class="form-control" id="startMeeting" placeholder="Starting"> <span th:if="${#fields.hasErrors('meeting.startMeeting')}" th:errors="*{meeting.startMeeting}" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <label for="endMeeting" class="col-form-label">Hora Fin</label> <input type="text" th:field="*{meeting.endMeeting}" class="form-control" id="endMeeting" placeholder="Meeting over"> <span th:if="${#fields.hasErrors('meeting.endMeeting')}" th:errors="*{meeting.endMeeting}" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <label for="ternMeeting" class="col-form-label">Duración</label> <input type="text" th:field="*{meeting.ternMeeting}" class="form-control" id="ternMeeting" placeholder="Tern"> <span th:if="${#fields.hasErrors('meeting.ternMeeting')}" th:errors="*{meeting.ternMeeting}" class="text-danger"></span>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>

                            <div class="row">
                                <fieldset>
                                    <caption class="col-form-label">Convocados</caption>
                                    <div class="row">
                                        <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <label for="assistants" class="col-form-label">Asistentes</label> <input type="text" th:field="*{participants.assistants}" class="form-control" id="assistants" placeholder="Assistant"> <span th:if="${#fields.hasErrors('participants.assistants')}" th:errors="*{participants.assistants}" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <label for="missing" class="col-form-label">Ausentes</label> <input type="text" th:field="*{participants.missing}" class="form-control" id="missing" placeholder="Missing"> <span th:if="${#fields.hasErrors('participants.missing')}" th:errors="*{participants.missing}" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <label for="unpunctual" class="col-form-label">Impuntuales</label> <input type="text" th:field="*{participants.unpunctual}" class="form-control" id="unpunctual" placeholder="Unpunctual"> <span th:if="${#fields.hasErrors('participants.unpunctual')}" th:errors="*{participants.unpunctual}" class="text-danger"></span>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>

                            <div class="row">
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <label for="title" class="col-form-label">Título/Descripción del Acta</label> <input type="text" th:field="*{content}" class="form-control textarea-editor" id="title" placeholder="Title" /> <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger"></span>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <label for="file" class="col-form-label">Registro Acta</label> <input type="file" name="file" class="form-control" id="file" placeholder="Unpunctual" accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                    <input type="hidden" th:field="*{type}">
                                    <input type="submit" class="btn btn-primary" name="save" value="Registrar">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<th:block layout:fragment="script">
    <script src="https://cdn.tiny.cloud/1/l4m4tbiktmwhgn58iyprjv55noasmlwux4kfzyswdxrsn90t/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    <script type="text/javascript">
        tinymce.init({
            selector: 'textarea.textarea-editor',
            skin: 'bootstrap',
            menubar: false,
            height : "480"
        });
    </script>
</th:block>
</html>
