<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>List of Base Line</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>
<div class="container">
    <div class="card">
        <div class="card-body">
            <div th:switch="${baseLine}" class="container my-5">

                <div class="col-md-12">
                    <h2 th:case="null">No registers yet!</h2>
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>Título</th>
                                <th>Fuente</th>
                                <th>Detalle</th>
                                <th>Responsable</th>
                                <th>Fecha_inicial</th>
                                <th colspan="4"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="base : ${baseLine}">
                                <td th:text="${base.title}"></td>
                                <td th:text="${base.source}"></td>
                                <td th:text="${base.detail}"></td>
                                <td th:text="${base.supervisor}"></td>
                                <td th:text="${base.startDate}"></td>
                                <td><a th:href="@{#}" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Mostrar"><i class="fa fa-eye"></i></a></td>
                                <td><a th:href="@{/process/execution/creation/{sourceLabel}/{sourceId}/{userId}(sourceLabel = 'BL', sourceId = ${base.id}, userId = ${base.source})}" class="btn btn-secondary btn-sm" data-placement="top" title="Convertir a Asignación Gerencial"><i class="fa fa-trophy"></i></a></td>
                                <td><a th:href="@{/process/policy/creation/{sourceLabel}/{sourceId}/{userId}(sourceLabel = 'BL', sourceId = ${base.id}, &userId = ${base.source})}" class="btn btn-secondary btn-sm" data-placement="top" title="Convertir a Norma y Politica"><i class="fa fa fa-bullhorn"></i></a></td>
                                <td><a th:href="@{#}" class="btn btn-danger btn-sm" data-placement="top" title="Archivar"><i class="fa fa-unlock-alt"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>

<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
</script>
</body>

</html>
