<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/layout}">
<head>
    <title>List of pending</title>
</head>
<body>
<div class="content" th:switch="${baseLine}" layout:fragment="content">
    <div class="container-fluid">
        <div class="section">
            <div class="card">
                <div class="card-header ">
                    <h4 class="card-title">Línea Base</h4>
                    <p class="card-category">Registros recientes</p>
                </div>
                <div class="card-body table-full-width table-responsive">
                    <div class="col-md-12">
                        <h2 th:case="null">No registers yet!</h2>
                        <div th:case="*">
                            <div class="row">
                                <form th:action="@{/data/source/list/{type}(type = ${baseLine.type}))" method="get" class="offset-md-6 offset-md-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label for="areaFilter" class="col-form-label">Seleccione Area</label>
                                            <select name="areaFilter" class="form-control" id="areaFilter">
                                                <option value="">-- Todas --</option>
                                                <option th:each="area : ${allAreas}"
                                                        th:value="${area.id}"
                                                        th:text="${area.name}">user</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <input type="submit" class="btn btn-primary" name="filter" value="buscar">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <table class="table table-hover table-striped table-responsive table-responsive-md table-responsive-sm">
                                <thead>
                                <tr>
                                    <th>Título</th>
                                    <th>Fuente</th>
                                    <th>Detalle</th>
                                    <th>Responsable</th>
                                    <th>Fecha_inicial</th>
                                    <th colspan="4"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="base : ${baseLine}">
                                    <td th:text="${base.title}"></td>
                                    <td th:text="${base.userId}"></td>
                                    <td th:text="${T(org.jsoup.Jsoup).parse(#strings.abbreviate(base.detail,50)).text()}"></td>
                                    <td th:text="${base.userSupervisor}"></td>
                                    <td th:text="${base.startDate}"></td>
                                    <td>
                                        <a th:href="@{/data/baseline/show/{baseLineId}(baseLineId=${base.id})}"
                                           class="btn btn-primary btn-sm" data-toggle="tooltip"
                                           data-placement="top" title="Editar"><i
                                                class="fa fa-edit"></i></a></td>
                                    <td>
                                        <a th:href="@{/process/execution/creation/{sourceLabel}/{sourceId}/{userId}(sourceLabel = ${base.type}, sourceId = ${base.id}, userId = ${base.userId})}"
                                           class="btn btn-secondary btn-sm" data-toggle="tooltip"
                                           data-placement="top"
                                           title="Convertir a Asignación Gerencial"><i
                                                class="fa fa-trophy"></i></a></td>
                                    <td>
                                        <a th:href="@{/process/policy/creation/{sourceLabel}/{sourceId}/{userId}(sourceLabel = ${base.type}, sourceId = ${base.id}, userId = ${base.userId})}"
                                           class="btn btn-secondary btn-sm" data-toggle="tooltip"
                                           data-placement="top"
                                           title="Convertir a Norma y Politica"><i
                                                class="fa fa fa-bullhorn"></i></a></td>
                                    <td>
                                        <a th:href="@{/data/baseline/trunk/{baseLineId}(baseLineId=${base.id})}"
                                           class="btn btn-danger btn-sm" data-toggle="tooltip"
                                           data-placement="top"
                                           title="Archivar"><i class="fa fa-unlock-alt"></i></a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<th:block layout:fragment="script">
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
</th:block>
</html>
