<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/layout}">
<head>
    <title>SIMON - Dashboard</title>
</head>
<body>
<div class="content" layout:fragment="content">
    <div class="container-fluid">
        <div class="section">
            <div class="cover-page">
                <h1>Sistema de Monitoreo Estratégico - SIMON</h1>
                <p><a href="/register/signup">Sign Up</a> </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
