<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/layout}">
<head>
    <title>List of Acts</title>
</head>
<body>
<div class="content" th:switch="${weeklyReport}" layout:fragment="content">
    <div class="container-fluid">
        <div class="section">
            <div class="card">
                <div class="card-header ">
                    <h4 class="card-title">Reporte de Ejecución Semanal</h4>
                    <p class="card-category">del <span th:text="${#dates.format(currentPeriod.startDate, 'dd-MMM-yyyy')}"></span> al <span th:text="${#dates.format(currentPeriod.endDate, 'dd-MMM-yyyy')}"></span> </p>
                </div>
                <div class="card-body table-full-width table-responsive">
                    <div class="col-md-12">
                        <h2 th:case="null">No registers yet!</h2>
                        <div th:case="*">
                            <table class="table table-hover table-striped table-responsive table-responsive-md table-responsive-sm">
                                <thead>
                                <tr>
                                    <th>Tema</th>
                                    <th>Prioridad</th>
                                    <th>/Fecha</th>
                                    <th>/Acción</th>
                                    <th>/Acumulado</th>
                                    <th>Fecha entrega</th>
                                    <th>Solicitud cierre</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="week : ${weeklyReport}">
                                    <td th:text="${week[6]}"></td>
                                    <td th:if="${week[9]} == 0" th:text="Baja"></td>
                                    <td th:if="${week[9]} == 1" th:text="Normal"></td>
                                    <td th:if="${week[9]} == 2" th:text="Critica"></td>
                                    <td th:text="${week[10]}"></td>
                                    <td th:text="${week[8]}"></td>
                                    <td th:utext="${week[5]}"></td>
                                    <td th:text="${week[6]}"></td>
                                    <td th:text="${week[2]}"></td>
                                </tr>
                                </tbody>
                            </table>

                            <table class="table table-hover table-striped table-responsive table-responsive-md table-responsive-sm">
                                <caption>NOVEDADES</caption>
                                <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Accion</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="news : ${newsReport}">
                                    <td th:text="${news.date"></td>
                                    <td th:utext="${news.detail"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>