<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/layout}">
<head>
    <title>List of Acts</title>
</head>
<body>
<div class="content" th:switch="${actRegister}" layout:fragment="content">
    <div class="container-fluid">
        <div class="section">
            <div class="card">
                <div class="card-header ">
                    <h4 class="card-title">Reporte de Ejecución Semanal</h4>
                    <p class="card-category">del xxx al xxx</p>
                </div>
                <div class="card-body table-full-width table-responsive">
                    <table class="table table-hover table-striped table-responsive table-responsive-md table-responsive-sm">
                        <thead>
                        <tr>
                            <th>Reporte</th>
                        </tr>
                        </thead>
                        <tr>

                        </tr>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>