<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/layout}">
<head>
    <title>List of Acts</title>
</head>
<body>
<div class="content" th:switch="${weeklyReport}" layout:fragment="content">
    <div class="container-fluid">
        <div class="section">
            <div class="card">
                <div class="card-header ">
                    <h4 class="card-title">Reporte de Ejecución Semanal</h4>
                    <p class="card-category">del <span th:text="${#dates.format(currentPeriod.startDate, 'dd-MMM-yyyy')}"></span> al <span th:text="${#dates.format(currentPeriod.endDate, 'dd-MMM-yyyy')}"></span> </p>
                </div>
                <div class="card-body table-full-width table-responsive">
                    <div class="col-md-12">
                        <h2 th:case="null">No registers yet!</h2>
                        <div th:case="*">
                            <table class="table table-hover table-striped table-responsive table-responsive-md table-responsive-sm">
                                <thead>
                                <tr>
                                    <th>Fecha-Tema/Acción</th>
                                    <th>Semana Actual: Comentarios </th>
                                    <th>Acumulado</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="week : ${weeklyReport}">
                                    <td>
                                        <div th:each="values : ${week.values}">
                                            <h5><strong><span th:text="${#dates.format(values[5], 'dd-MMM-yyyy')}"></span> <span th:text="${values[2]}"></span></strong></h5>
                                            <article th:utext="${values[3]}"></article>
                                            <p th:if="${values[1]} == true" class="alert alert-success">Solicitud de cierre</p>
                                            <p>
                                                <small th:if="${values[4]} == 0" th:text="Baja"></small>
                                                <small th:if="${values[4]} == 1" th:text="Normal"></small>
                                                <small th:if="${values[4]} == 2" th:text="Crítica"></small>
                                                |
                                                <small>ESTADO</small>:
                                                <small th:text="${values[6]}"></small>
                                            </p>
                                        </div>
                                    </td>
                                    <td>
                                        <div th:each="current : ${week.current}">
                                            <h5><strong th:text="${current[0]}"></strong></h5>
                                            <article th:utext="${current[1]}"></article>
                                        </div>
                                    </td>
                                    <td>
                                        <div th:each="history : ${week.history}">
                                            <h5><strong th:text="${history[0]}"></strong></h5>
                                            <article th:utext="${history[1]}"></article>
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>

                            <h4>Novedades</h4>
                            <table class="table table-hover table-striped table-responsive table-responsive-md table-responsive-sm">
                                <thead>
                                <tr>
                                    <th>Responsable</th>
                                    <th>Fecha</th>
                                    <th>Tema</th>
                                    <th>Accion</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="news : ${newsReport}">
                                    <td th:text="${news.source.firstname} + ' ' + ${news.source.lastname}"></td>
                                    <td th:text="${news.date}"></td>
                                    <td th:text="${news.title}"></td>
                                    <td th:utext="${news.news}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>