<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/layout}">
<head>
    <title>Create an account</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="container-fluid">
        <div class="section">
            <form method="POST" class="form-signin" th:object="${userForm}" th:action="@{/registration}">
                <div class="row">
                    <div class="form-group col-md-8">
                        <label for="firstname" class="col-form-label">Nombre</label> <input type="text" th:field="*{firstname}" class="form-control" id="firstname" placeholder="Firstname"> <span th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-8">
                        <label for="lastname" class="col-form-label">Apellido</label> <input type="text" th:field="*{lastname}" class="form-control" id="lastname" placeholder="Lastname"> <span th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-8">
                        <label for="email" class="col-form-label">Email</label> <input type="text" th:field="*{email}" class="form-control" id="email" placeholder="Email"> <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-8">
                        <label for="username" class="col-form-label">Login</label> <input type="text" th:field="*{username}" class="form-control" id="username" placeholder="Login"> <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-8">
                        <label for="password" class="col-form-label">Password</label> <input type="password" th:field="*{password}" class="form-control" id="password" placeholder="Password"> <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></span>
                    </div>

                    <input type="hidden" th:field="*{roleId}" th:value="${simpleUser}">

                    <div class="form-group col-md-8">
                        <label for="supervisor" class="col-form-label">Seleccione supervisor</label>
                        <select th:field="*{supervisor}" class="form-control" id="supervisor">
                            <option value="">-- Select --</option>
                            <option th:each="user : ${allUsers}"
                                    th:value="${user.id}"
                                    th:text="${user.firstname} + ' ' + ${user.lastname}">user</option>
                        </select>
                        <span th:if="${#fields.hasErrors('supervisor')}" th:errors="*{supervisor}" class="text-danger"></span>
                    </div>

                    <div class="col-md-6">
                        <input type="submit" class="btn btn-primary" value="Add User">
                    </div>
                    <div class="form-group col-md-8"></div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
